<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>블로그 게시판(NEW)</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>블로그 게시판(NEW)</h1>
        <form th:action="@{/api/board_update/{id}(id=${board.id})}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" id="title" name="title" class="form-control" th:value="${board.title}">
            </div>
            <div class="form-group">
                <label for="content">내용</label>
                <textarea id="content" name="content" class="form-control" rows="10" th:text="${board.content}"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">수정</button>
        </form>
        
    </div>
</body>
</html>
